{% extends "passports/pdf/base.html" %}
{% load static %}
{% load pdf_utils %}

{% block extra_css %}
<style>
  /* Обложку обычно печатают во всю страницу без полей */
  @page { margin: 0 }
  .cover {
    width: 210mm;
    height: 297mm;
  }
  .cover img {
    width: 210mm;
    height: 297mm;
    display: block;
    object-fit: contain; /* или contain — если нужна белая окантовка без обрезки */
  }
</style>
{% endblock %}

{% block content %}
  <div class="cover">
    <img class="bg-img" src="{% static_file 'report/passport_1.png' %}">
  </div>
{% endblock %}
