{% extends "passports/pdf/base.html" %}
{% load pdf_utils %}

{% block content %}
  <h3 class="">Мазкур ҳужжат от эгаси (қаровчиси)да сақланади ва от сотилган пайтда янги эгасига берилади. <br>Настоящий документ сохраняется владельцем (смотрителем) лошади и передается новому владельцу при продаже лошади.</h3>

  <div class="row">
    <div class="col">
      {% if passport.barcode_image %}<img class="barcode" src="{{ passport.barcode_image|fileuri }}" alt="barcode">{% endif %}
      <div class="kv">Штрих-код</div>
    </div>
    <div style="width:42mm">
      {% if passport.qr_image %}<img class="qr" src="{{ passport.qr_image|fileuri }}" alt="qr">{% endif %}
      <div class="kv">QR-код</div>
    </div>
  </div>

  <table class="table">
    <colgroup><col class="w-label"><col></colgroup>
    <tbody>
      <tr><th>Кличка / Name:</th>
          <td>{{ horse.name|dash }}</td></tr>

      <tr><th>Дата рождения / Date of birth:</th>
          <td>{{ horse.birth_date|dmy|dash }}</td></tr>

      <tr><th>Порода / Breed:</th>
          <td>{{ horse.breed|dash }}</td></tr>

      <tr><th>Масть / Colour:</th>
          <td>{{ horse.color|dash }}</td></tr>

      <tr><th>Пол / Sex:</th>
          <td>{{ horse.get_sex_display|dash }}</td></tr>

      <tr><th>Место рождения / Place of birth:</th>
          <td>{{ horse.place_of_birth|dash }}</td></tr>

      <tr><th>Номер паспорта / Passport Number:</th>
          <td>{{ passport.number|dash }}</td></tr>

      <tr><th>Владелец / Owner:</th>
          <td>
            {% if horse.owner_current %}
              {% with o=horse.owner_current %}
                {% if o.person %}{{ o.person.last_name }} {{ o.person.first_name }} {{ o.person.middle_name }}{% endif %}
                {% if o.organization %}{{ o.organization.name }}{% endif %}
                {% if o.address %}, {{ o.address }}{% endif %}
              {% endwith %}
            {% else %}—{% endif %}
          </td></tr>

      <tr><th>Страна / Country:</th>
          <td>Узбекистан</td></tr>

      <tr><th>Номер микрочипа / Microchip number:</th>
          <td>{{ horse.microchip|dash }}</td></tr>
    </tbody>
  </table>
{% endblock %}
