{# templates/passports/pdf/blocks/page_offspring.html #}
<style>
  .off-wrap  { margin: 5mm 6mm 0; font-size: var(--font-base); }
  .off-title { text-align:center; font-weight: var(--th-weight); line-height:1;
               font-size: var(--font-title); margin-bottom: 2mm; }

  .off-table { width:100%; border-collapse:collapse; table-layout: fixed; }
  .off-table th, .off-table td {
    border:1px solid #000; padding:1.0mm; vertical-align: middle;
  }
  .off-table th { text-align:center; font-weight: var(--th-weight); font-size: 7pt; line-height:1; }

  /* ширины колонок (в сумме ~100%) */
  .c-n { text-align:center; }
  .c-col, .c-sex, .c-br, .c-yr { text-align:center; white-space:nowrap; }

  .row { height: 4mm; } /* компактная строка для A5 */
</style>

<div class="off-wrap">
  <div class="off-title">
    Биядан кулун олиш<br>
    Приплод<br>
    Offspring
  </div>

  <table class="off-table">
    <colgroup>
      <col style="width:5%">   <!-- №/P -->
      <col style="width:15%">  <!-- Parental name: Sire -->
      <col style="width:15%">  <!-- Parental name: Dam  -->
      <col style="width:15%">  <!-- Parental breed: Sire -->
      <col style="width:15%">  <!-- Parental breed: Dam  -->
      <col style="width:10%">  <!-- Colour -->
      <col style="width:8%">   <!-- Sex -->
      <col style="width:8%">   <!-- Brand № -->
      <col style="width:9%">   <!-- Birth year -->
    </colgroup>
    <thead>
      <tr>
        <th rowspan="2" class="c-n">№/P</th>
        <th colspan="2">Ота-онасининг лакаби<br>Кличка родителей<br><i>Parental name</i></th>
        <th colspan="2">Ота-онасининг зоти<br>Порода родителей<br><i>Parental breed</i></th>
        <th rowspan="2">Туси<br>Масть<br><i>Colour</i></th>
        <th rowspan="2">Жинси<br>Пол<br><i>Sex</i></th>
        <th rowspan="2">Тамға рақами<br>Тавро №<br><i>Brand №</i></th>
        <th rowspan="2">Туғилган йили<br>Год рождения<br><i>Date of birth</i></th>
      </tr>
      <tr>
        <th>Отаси<br>Отец<br><i>Sire</i></th>
        <th>Онаси<br>Мать<br><i>Dam</i></th>
        <th>Отаси<br>Отец<br><i>Sire</i></th>
        <th>Онаси<br>Мать<br><i>Dam</i></th>
      </tr>
    </thead>
    <tbody>
      {% for r in offspring_rows %}
        {% if r %}
          <tr class="row">
            <td class="c-n">{{ forloop.counter }}</td>
            <td>{{ r.sire_name }}</td>
            <td>{{ r.dam_name }}</td>
            <td>{{ r.sire_breed }}</td>
            <td>{{ r.dam_breed }}</td>
            <td class="c-col">{{ r.colour }}</td>
            <td class="c-sex">{{ r.sex }}</td>
            <td class="c-br">{{ r.brand }}</td>
            <td class="c-yr">{{ r.birth_year }}</td>
          </tr>
        {% else %}
          <tr class="row"><td class="c-n">{{ forloop.counter }}</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
</div>
